.nav_josh a {
  font-size: 2em;
  font-family: 'Economica', 'Exo', 'Infinity', sans-serif;
  color: 'black';
  margin-top: 1em;
  letter-spacing: .05em;
  text-transform: uppercase;
  font-weight: 100;
  text-decoration: none;
}
.nav_josh a {
  color: 'black';
}
.nav_josh a:visited {
  color: 'black';
}
.header_baby {
  text-align: right;
  margin-right: 5%;
  margin-top: 10%;
  width: 45%;
  float: right;
}
.nav_josh {
  list-style-type: none;
}
.joshLogo {
  width: 150px;
  height: 150px;
  padding: 10% 0 10% 5%;
  float: left;
}
.mainMenu {
  font-family: "Economica", "Infinity";
  text-transform: uppercase;
  width: 35%;
  float: left;
  margin: 1em 0 0 5%;
  font-size: 3em;
  font-weight: 200;
}
@media screen and (min-width: 750px) {
/*.nav_josh a:hover {
  color: #00A79D;
}*/
.nav_josh {
  display: inline-block;
  padding: 0 5%;
  margin-top: 1.5em;
}
.header_baby {
  text-align: right;
  width: 70%;
}
.joshLogo {
  padding: 5%;
}
.mainMenu {
  width: 20%;
}
}
