.about_josh {
  clear: both;
  text-align: center;
  /*background-color: #D0D0D0;
  border: 2px solid yellow;*/
}
/*.joshphoto {
  position: absolute;
  margin-top: -7em;
  margin-left: 1em;
  text-align: center;
}*/
.about_paragraph {
  font-size: 1.5em;
  font-family: 'Exo', 'Infinity', sans-serif;
  font-weight: 100;
  color: #00A79D;
  letter-spacing: .05em;
  text-align: center;
  margin: 0 1em;
  padding-bottom: 1em;
}
