.contact, .contact_josh {
  clear: both;
  font-size: 3em;
  font-family: 'Exo', 'Infinity', sans-serif;
  font-weight: 100;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
}
.contact_icon {
  display: inline-block;
  width: 22%;
}
.contact_icon {
  font-size: 1.75em;
  font-family: 'Exo', 'Infinity', sans-serif;
  font-weight: 100;
  color: #00A79D;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;

}
.contact_list {
  text-align: center;
}
.contact_icon a {
  text-decoration: none;
  color: black;
}
.contact_icon a:hover {
  color: #00A79D;
}
